# Unity folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Aa]ssets/AssetStoreTools*

# Ignore user-specific files
[Dd]eveloper/
*.userprefs

# Ignore Visual Studio files
*.csproj
*.unitypackage
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Ignore temporary files
*.tmp
*.bak
*.swp
*.swo

# Ignore large 3D models already tracked by Git LFS
*.glb
*.fbx

# Ignore other files
*.log
*.pdb
